<div class="container">
  <div class="content">
    <h1 class="title">Welcome to <span class="brand-name">Aarambha</span></h1>
    <p class="subtitle">
      We're here to provide a helping hand for men, offering guidance and support for a wide range of life challenges. Our team of experts is dedicated to helping you navigate through relationship issues, work-related stress, family problems, and much more.
    </p>
    <p class="subtitle">
      At Aarambha, we believe that seeking help is a sign of strength, and our mission is to empower men to lead healthier and happier lives. Your well-being is our priority, and we're committed to providing thoughtful and empathetic advice to assist you in overcoming life's obstacles.
    </p>
    <button class="raise-fund-button" routerLink="/phase3">Get Started</button>
  </div>
</div>
<div class="all" id="team">
  <div class="lefter">
    <div class="text">Loneliness</div>
  </div>
  <div class="left">
    <div class="text">Mental Health</div>
  </div>
  <div class="center">
    <div class="explainer"><h1 style="display: flex; justify-content: center; align-items: center; font-weight: 900;"> WHY &nbsp; <br> <span class="brand-name">  Aarambha</span></h1>
    </div>
    <div class="text">US</div>
    </div>
  <div class="right">
    <div class="text">Work Stress</div>
  </div>
  <div class="righter">
    <div class="text">Strictly For MEN</div>
  </div>
  </div>
